Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyre, Clear

pyre:
  name: Pyre
  entry: poetry run pyre --strict --noninteractive check
  language: system
  pass_filenames: false

Clear:
  name: Clear tests/README
  entry: echo "" > tests/README.md
  language: system
  pass_filenames: false

Update README
  README.md
Due: Clear

Rust binary (#60)
  README.md
  advent_of_action/runners.py
  tests/day_99/rust_iain/Cargo.lock
  tests/day_99/rust_iain/Cargo.toml
  tests/test_main.py
Due: pyre, Clear

setup-go
  README.md
  action.yaml
Due: Clear

Golang
  README.md
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README_4.md
  tests/day_99/go_iain/go.mod
  tests/day_99/go_iain/hello.go
Due: pyre, Clear

test_main refactor
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

second functional test
  .github/workflows/functional_tests.yaml
  action.yaml
Due: none

second functional test
  action.yaml
Due: none

Use last stderr line
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

Add go to expected readme
  tests/EXPECTED_README.md
Due: Clear

Golang (#61)
  .github/workflows/functional_tests.yaml
  README.md
  action.yaml
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
  tests/day_99/go_iain/go.mod
  tests/day_99/go_iain/hello.go
  tests/test_main.py
Due: pyre, Clear

Add pygount
  .github/workflows/functional_tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit_tests.yaml
  poetry.lock
  pyproject.toml
Due: none

Add solution files
  tests/day_99/haskell_iain/CHANGELOG.md
  tests/day_99/haskell_iain/LICENSE
  tests/day_99/haskell_iain/app/Main.hs
  tests/day_99/haskell_iain/solution.cabal
Due: Clear

Add haskell tests
  action.yaml
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/day_99/haskell_iain/app/Main.hs
  tests/test_main.py
Due: pyre, Clear

Unit tests
  tests/README_TEMPLATE_3.md
  tests/day_99/haskell_iain/app/Main.hs
  tests/test_main.py
Due: pyre, Clear

Functional tests
  .github/workflows/functional_tests.yaml
  action.yaml
  advent_of_action/runners.py
  tests/day_99/haskell_iain/solution.cabal
  tests/test_main.py
Due: pyre

KB->KiB
  README.md
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Different answer
  tests/EXPECTED_README.md
Due: Clear

Error(x)
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
Due: Clear

Add Haskell to the readme
  README.md
Due: Clear

Add haskell support (#63)
  .github/workflows/functional_tests.yaml
  README.md
  action.yaml
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
  tests/day_99/haskell_iain/CHANGELOG.md
  tests/day_99/haskell_iain/LICENSE
  tests/day_99/haskell_iain/app/Main.hs
  tests/day_99/haskell_iain/solution.cabal
  tests/test_main.py
Due: pyre, Clear

KB->KiB (#64)
  README.md
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Add count_lines
  README.md
  action.yaml
  advent_of_action/main.py
  tests/test_main.py
Due: pyre, Clear

Add count_lines
  advent_of_action/main.py
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Type stubs
  .pre-commit-config.yaml
  stubs/pygount.pyi
  tests/day_99/python_zain/does_nothing.py
Due: pyre

Functional tests
  .github/workflows/functional_tests.yaml
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
Due: Clear

Functional tests
  .github/workflows/functional_tests.yaml
Due: none

Type stubs
  README.md
  tests/EXPECTED_README_4.md
Due: Clear

Type stubs
  tests/EXPECTED_README_4.md
Due: Clear

Codecov
  tests/test_main.py
Due: pyre

Add pygount (#62)
  .github/workflows/functional_tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit_tests.yaml
  .pre-commit-config.yaml
  README.md
  action.yaml
  advent_of_action/main.py
  poetry.lock
  pyproject.toml
  stubs/pygount.pyi
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
  tests/day_99/python_zain/does_nothing.py
  tests/test_main.py
Due: pyre, Clear

Update README.md
  README.md
Due: Clear

Use MiBytes to one d.p.
  README.md
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Right align lines, time, memory
  README.md
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Functional tests
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
Due: Clear

Unit tests
  tests/EXPECTED_README_2.md
  tests/test_main.py
Due: pyre, Clear

Functional tests
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
Due: Clear

Functional tests
  tests/EXPECTED_README.md
Due: Clear

Path conditions:
  pyre: any of: \.py$
  Clear: any of: \.(md|markdown|mdown)$
