Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyre, Clear

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
        files: (.github/|day_99)
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: 'tests/badge.svg'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: pyre
        name: Pyre
        entry: poetry run pyre --strict --noninteractive check
        language: system
        pass_filenames: false
        types: [python]
      - id: Clear
        name: Clear tests/README
        entry: echo "" > tests/README.md
        language: system
        pass_filenames: false
        types: [markdown]

Generators
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

Dataclasses
  advent_of_action/main.py
  tests/test_main.py
Due: pyre

Dataclasses
  advent_of_action/main.py
Due: pyre

Pathlib.glob
  advent_of_action/main.py
Due: pyre

iterdir
  advent_of_action/main.py
Due: pyre

profile
  action.yaml
Due: none

Pathlib.glob (#52)
  action.yaml
  advent_of_action/main.py
Due: pyre

Update README.md
  README.md
Due: Clear

Update README.md (#53)
  README.md
Due: Clear

Runner classes
  advent_of_action/main.py
  advent_of_action/runners.py
Due: pyre

dataclass
  advent_of_action/runners.py
Due: pyre

dataclass
  advent_of_action/main.py
  advent_of_action/runners.py
Due: pyre

dataclass
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

tests
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

Requirements.txt
  advent_of_action/runners.py
  tests/day_99/python_iain/requirements.txt
  tests/day_99/python_iain/solution.py
Due: pyre

Requirements.txt
  tests/test_main.py
Due: pyre

Requirements.txt
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

Requirements.txt
  README.md
Due: Clear

Add setup and teardown steps for each solution (#54)
  README.md
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/day_99/python_iain/requirements.txt
  tests/day_99/python_iain/solution.py
  tests/test_main.py
Due: pyre, Clear

Update README.md (#57)
  README.md
Due: Clear

Update main.py
  advent_of_action/main.py
Due: pyre

Update runners.py
  advent_of_action/runners.py
Due: pyre

Command->Commands
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

Command->Commands
  advent_of_action/runners.py
Due: pyre

Update main.py (#58)
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: pyre

UP043
  advent_of_action/main.py
  pyproject.toml
Due: pyre

UP043 (#59)
  advent_of_action/main.py
  pyproject.toml
Due: pyre

Run Rust binary directly
  advent_of_action/runners.py
  tests/day_99/rust_iain/Cargo.lock
  tests/day_99/rust_iain/Cargo.toml
  tests/test_main.py
Due: pyre
