Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: Pyre, Clear

Pyre:
  name: Pyre
  entry: poetry run pyre --strict --noninteractive check
  language: system
  pass_filenames: false

Clear:
  name: Clear tests/README
  entry: echo "" > tests/README.md
  language: system
  pass_filenames: false

Ruff fix
  tests/EXPECTED_README.md
Due: Clear

Ruff fix
  advent_of_action/main.py
Due: Pyre

Ruff
  pyproject.toml
Due: none

Ruff
  advent_of_action/main.py
  pyproject.toml
  tests/test_main.py
Due: Pyre

Ruff
  tests/test_main.py
Due: Pyre

functional test triggers
  .github/workflows/functional_tests.yaml
Due: none

Results (#22)
  .github/workflows/functional_tests.yaml
  .pre-commit-config.yaml
  advent_of_action/main.py
  pyproject.toml
  tests/EXPECTED_README.md
  tests/test_main.py
Due: Pyre, Clear

Test only one results section
  tests/test_main.py
Due: Pyre

Mapping
  advent_of_action/main.py
Due: Pyre

OneResultsSection (#23)
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre

Refactor
  advent_of_action/main.py
  advent_of_action/run.py
Due: Pyre

Refactor
  .pyre_configuration
  advent_of_action/__init__.py
  advent_of_action/main.py
  advent_of_action/runners.py
Due: Pyre

Typing
  .pyre_configuration
  advent_of_action/__init__.py
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre

Typing
  tests/test_main.py
Due: Pyre

Typing
  advent_of_action/main.py
Due: Pyre

.venv
  .github/workflows/lint.yaml
Due: none

Typing
  advent_of_action/__init__.py
Due: Pyre

Functional tests
  .github/workflows/functional_tests.yaml
  tests/EXPECTED_README.md
  tests/README_TEMPLATE.md
Due: Clear

Functional tests
  tests/EXPECTED_README_2.md
  tests/test_main.py
Due: Pyre, Clear

Functional tests
  advent_of_action/main.py
  tests/EXPECTED_README_3.md
  tests/README_TEMPLATE_2.md
  tests/test_main.py
Due: Pyre, Clear

Update section
  advent_of_action/main.py
  tests/EXPECTED_README_3.md
  tests/test_main.py
Due: Pyre, Clear

Update section
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/test_main.py
Due: Pyre, Clear

Update section
  .github/workflows/functional_tests.yaml
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/README_TEMPLATE.md
Due: Pyre, Clear

Update section
  .github/workflows/functional_tests.yaml
  tests/EXPECTED_README.md
Due: Clear

Update section
  tests/EXPECTED_README.md
Due: Clear

Update table (#24)
  .github/workflows/functional_tests.yaml
  .github/workflows/lint.yaml
  .pyre_configuration
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_2.md
  tests/test_main.py
Due: Pyre, Clear

Tuple of answers
  README.md
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/README_TEMPLATE.md
  tests/day_99/jupyter_iain/solution.ipynb
  tests/day_99/python_iain/solution.py
  tests/test_main.py
Due: Pyre, Clear

Tuple of answers
  .pre-commit-config.yaml
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README_2.md
  tests/test_main.py
Due: Pyre, Clear

Revert ipynb
  tests/day_99/jupyter_iain/solution.ipynb
Due: none

Revert py
  tests/day_99/python_iain/solution.py
Due: Pyre

Q&A
  .gitignore
  advent_of_action/main.py
  tests/day_99/python_iain/solution.py
Due: Pyre

Q&A
  tests/day_99/answers.gpg
  tests/day_99/input.gpg
Due: none

Q&A
  advent_of_action/main.py
  tests/day_99/input.gpg
  tests/day_99/python_iain/solution.py
Due: Pyre

Q&A
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/day_99/answers.gpg
  tests/day_99/input.gpg
  tests/day_99/python_nain/__init__.py
  tests/day_99/python_nain/solution.py
Due: Pyre, Clear

Q&A
  tests/test_main.py
Due: Pyre

Questions and answers (#28)
  .gitignore
  .pre-commit-config.yaml
  README.md
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/README_TEMPLATE.md
  tests/day_99/answers.gpg
  tests/day_99/input.gpg
  tests/day_99/python_iain/solution.py
  tests/day_99/python_nain/__init__.py
  tests/day_99/python_nain/solution.py
  tests/test_main.py
Due: Pyre, Clear

gpg-pass
  .github/workflows/functional_tests.yaml
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre

gpg-pass
  .github/workflows/functional_tests.yaml
Due: none

gpg-pass
  README.md
Due: Clear

Path conditions:
  Pyre: any of: \.py$
  Clear: any of: \.(md|markdown|mdown)$
