Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: Pyre, Clear

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
        files: (.github/|day_99)
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: Pyre
        name: Pyre
        entry: poetry run pyre --strict --noninteractive check
        language: system
        pass_filenames: false
        types: [python]
      - id: Clear
        name: Clear tests/README
        entry: echo "" > tests/README.md
        language: system
        pass_filenames: false
        types: [markdown]

gpg-pass (#32)
  .github/workflows/functional_tests.yaml
  README.md
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre, Clear

-1
  action.yaml
Due: none

Env var (#33)
  action.yaml
Due: none

Update action.yaml
  .github/workflows/functional_tests.yaml
  action.yaml
Due: none

README
  README.md
  action.yaml
Due: Clear

More functional tests
  .github/workflows/functional_tests.yaml
Due: none

More functional tests
  action.yaml
Due: none

Func tests (#34)
  .github/workflows/functional_tests.yaml
  README.md
  action.yaml
Due: Clear

Don't re-run if there are previous results
  advent_of_action/main.py
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: Pyre, Clear

Tidy
  tests/test_main.py
Due: Pyre

Func tests (#35)
  advent_of_action/main.py
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: Pyre, Clear

Colour and icon
  action.yaml
Due: none

Update action.yaml
  action.yaml
Due: none

action-path
  action.yaml
Due: none

Rust version
  action.yaml
Due: none

action-path (#36)
  action.yaml
Due: none

GPG Passphrase
  action.yaml
Due: none

GPG Passphrase
  README.md
Due: Clear

GPG Passphrase
  .github/workflows/functional_tests.yaml
Due: none

Action path (#37)
  .github/workflows/functional_tests.yaml
  README.md
  action.yaml
Due: Clear

docs
  README.md
Due: Clear

code coverage
  poetry.lock
  pyproject.toml
Due: none

Add pybadges dependency
  poetry.lock
  pyproject.toml
Due: none

Add pybadges badge
  .github/workflows/unit_tests.yaml
  poetry.lock
  pyproject.toml
Due: none

Add commit for badge
  .github/workflows/unit_tests.yaml
  README.md
  tests/badge.svg
Due: Clear

Add commit for badge
  .github/workflows/unit_tests.yaml
  README.md
Due: Clear

code coverage (#39)
  .github/workflows/unit_tests.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/badge.svg
Due: Clear
