Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: Pyre, Clear

Pyre:
  name: Pyre
  entry: poetry run pyre --strict --noninteractive check
  language: system
  pass_filenames: false

Clear:
  name: Clear tests/README
  entry: echo "" > tests/README.md
  language: system
  pass_filenames: false

code coverage
  poetry.lock
Due: none

Add pybadges dependency
  poetry.lock
Due: none

Add pybadges badge
  poetry.lock
Due: none

Add commit for badge
  .github/workflows/unit_tests.yaml
  tests/badge.svg
Due: none

Add commit for badge
  .github/workflows/unit_tests.yaml
Due: none

Test coverage
  advent_of_action/main.py
  pyproject.toml
  tests/test_main.py
Due: Pyre

Test coverage
  tests/test_main.py
Due: Pyre

Coverage (#40)
  advent_of_action/main.py
  poetry.lock
  pyproject.toml
  tests/badge.svg
  tests/test_main.py
Due: Pyre

Ruff
  .pre-commit-config.yaml
  advent_of_action/__init__.py
  advent_of_action/runners.py
  tests/__init__.py
  tests/badge.svg
  tests/day_99/__init__.py
  tests/day_99/python_iain/__init__.py
  tests/day_99/python_iain/solution.py
  tests/day_99/python_optout/solution.py
  tests/day_99/python_zain/__init__.py
  tests/day_99/python_zain/solution.py
Due: Pyre

badge
  tests/badge.svg
Due: none

Get workflows to pass (#41)
  .pre-commit-config.yaml
  advent_of_action/__init__.py
  advent_of_action/runners.py
  tests/__init__.py
  tests/day_99/__init__.py
  tests/day_99/python_iain/__init__.py
  tests/day_99/python_iain/solution.py
  tests/day_99/python_optout/solution.py
  tests/day_99/python_zain/__init__.py
  tests/day_99/python_zain/solution.py
Due: Pyre

head_ref|ref_name
  .github/workflows/lint.yaml
  .github/workflows/unit_tests.yaml
Due: none

Update docstring
  tests/test_main.py
Due: Pyre

Checkout action
  .github/workflows/unit_tests.yaml
Due: none

Update docstring (#42)
  .github/workflows/unit_tests.yaml
  tests/test_main.py
Due: Pyre

Docs
  README.md
Due: Clear

Docs (#43)
  README.md
Due: Clear

More hooks
  .pre-commit-config.yaml
Due: none

Print stderr if subprocess raises
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: Pyre

Use gtime if it's available (e.g. on macOS)
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: Pyre

Timeout error message
  README.md
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre, Clear

Timeout input
  .github/workflows/functional_tests.yaml
  README.md
  action.yaml
  advent_of_action/runners.py
  tests/test_main.py
Due: Pyre, Clear

Timeout input
  .github/workflows/functional_tests.yaml
Due: none

yamlfmt
  .pre-commit-config.yaml
Due: none

Expected README
  .github/workflows/functional_tests.yaml
Due: none

Re-instate python -m call
  action.yaml
Due: none

Add expected readme for second functional test
  tests/EXPECTED_README_4.md
Due: Clear

Rename functional tests
  .github/workflows/functional_tests.yaml
Due: none

Expected README
  tests/EXPECTED_README_4.md
Due: Clear

Runner versions
  action.yaml
Due: none

Improve error logging (#45)
  .github/workflows/functional_tests.yaml
  .pre-commit-config.yaml
  README.md
  action.yaml
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/EXPECTED_README_4.md
  tests/test_main.py
Due: Pyre, Clear

Runner classes
  advent_of_action/main.py
  advent_of_action/runners.py
Due: Pyre

Opam env
  action.yaml
Due: none

Generators
  advent_of_action/main.py
  advent_of_action/runners.py
  tests/test_main.py
Due: Pyre

Simplify RUNTIMES search
  advent_of_action/main.py
Due: Pyre

Generators
  advent_of_action/main.py
  tests/test_main.py
Due: Pyre

Opam env (#48)
  action.yaml
Due: none

Simplify RUNTIMES search (#49)
  advent_of_action/main.py
Due: Pyre

Generators
  advent_of_action/runners.py
  tests/test_main.py
Due: Pyre

Path conditions:
  Pyre: any of: \.py$
  Clear: any of: \.(md|markdown|mdown)$
