Repository Iain-S/AdventOfAction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyre, Clear

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
        files: (.github/|day_99)
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: 'tests/badge.svg'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: pyre
        name: Pyre
        entry: poetry run pyre --strict --noninteractive check
        language: system
        pass_filenames: false
        types: [python]
      - id: Clear
        name: Clear tests/README
        entry: echo "" > tests/README.md
        language: system
        pass_filenames: false
        types: [markdown]

Functional tests
  tests/EXPECTED_README.md
Due: Clear

Use MiBytes to one d.p. (#65)
  .github/workflows/functional_tests.yaml
  README.md
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_3.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
  tests/test_main.py
Due: pyre, Clear

Update README.md
  README.md
Due: Clear

coverage == 100
  .github/workflows/unit_tests.yaml
Due: none

reduce coverage
  advent_of_action/main.py
Due: pyre

Exit 1
  .github/workflows/unit_tests.yaml
Due: none

Revert "reduce coverage"
  advent_of_action/main.py
Due: pyre

coverage == 100 (#66)
  .github/workflows/unit_tests.yaml
Due: none

--yes
  advent_of_action/runners.py
  poetry.lock
  tests/test_main.py
Due: pyre

--yes (#67)
  advent_of_action/runners.py
  poetry.lock
  tests/test_main.py
Due: pyre

Sort results before writing to README
  advent_of_action/main.py
  tests/EXPECTED_README_2.md
  tests/README_TEMPLATE.md
Due: pyre, Clear

Tidy newline handling after table
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE_3.md
Due: pyre, Clear

Functional tests
  tests/EXPECTED_README.md
  tests/EXPECTED_README_4.md
Due: Clear

Sort the results table (#69)
  advent_of_action/main.py
  tests/EXPECTED_README.md
  tests/EXPECTED_README_2.md
  tests/EXPECTED_README_4.md
  tests/README_TEMPLATE.md
  tests/README_TEMPLATE_3.md
Due: pyre, Clear
